<h1>Select Headings Per Keyword Per Topic</h1>

	<%= form_tag("/update_headings/", method: "post", class: "form-horizontal") do %>

	<% @pages.each do |page| %>

	<div>
		<h1><%= Topic.find(page.topic_id).name %></h1>

		<% for i in 1..3 %>

			<% keyword_id = page['k' + i.to_s + '_id'] %>

			<p>Keyword: <%= Keyword.find(keyword_id).keyword %></p>
			<div class='row row-heading'>
				<div class='col-xs-10'>
					<div class="form-group">
					<%= select_tag(page.topic_id.to_s  + '_' + i.to_s + "_heading", options_for_select(Keyword.find(keyword_id).headings.order(:heading).collect {|p| [p.heading, p.id]}, selected: page['h' + i.to_s + '_id']), class: "form-control select-heading") %>

					</div>
				</div>
				<div class='col-xs-2'>
					<p class='character-counter'>c</p><p> characters</p>
				</div>
			</div>

			<div class='row row-new-heading'>
				<div class='col-xs-10'>
					<div class='form-group'>
						<textarea class='new-heading-name'></textarea>
						<button class='new-heading-submit' data-keyword-id=<%= keyword_id %>>Add Heading</button>
					</div>
				</div>
				<div class='col-xs-2'>
					<p class='character-counter'>0</p><p> characters</p>
				</div>
			</div>
		<% end %>

	</div>
	<% end %>

	<%= submit_tag("Save and Continue", class:"btn btn-primary") %>

<% end %>

<script>

$(document).ready(function(){

	// Update character counts beside the heading select field, on document load
	$('.select-heading').each(function() {
		var count = $(this).find("option:selected").text().length;
		$(this).parents('.row-heading').find('.character-counter').html(count);
	});

	// Update character counts beside the heading select field
	$( ".select-heading" ).change(function() {
		var count = $(this).find("option:selected").text().length;
		$(this).parents('.row-heading').find('.character-counter').html(count);
	});
});

// Update character counts beside the heading textarea field
$(".new-heading-name").on('input',function(){
	var count = $(this).val().length;
	$(this).parents('.row-new-heading').find('.character-counter').html(count);
});

</script>