<h1>Select Page Topics</h1>

<%= form_tag("/update_topics/", method: "post", class: "") do %>

<div class="well" style="width:300px; padding: 8px 0;">
    <div style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
        <ul class="nav nav-list">
		<% @topics.each do |topic| %>
		<li>
			<% check_marked = @pages.exists?(topic_id:topic.id) ? true : false %>
			<%= check_box_tag(topic.name + '_topic',topic.id,checked = check_marked) %>
			<%= label_tag(topic.name, topic.name, class: "tree-toggler nav-header") %>

			<ul class="nav nav-list tree">
				<% topic.keywords.each do |keyword| %>
				<li><%= keyword.keyword %></li>
				<% end %>
			</ul>
		</li>
		<% end %>
		<li>
			<input id='new-topic-name' type='text'>
			<button id='new-topic-submit'>Add Topic</button>
		</li>
		</ul>
	</div>
	<%= submit_tag("Save and Continue", class:"btn btn-primary") %>
</div>

<% end %>