<h1>Select Keywords Per Topic</h1>

	<%= form_tag("/update_keywords/", method: "post", class: "form-data") do %>

	<% @pages.each do |page| %>

	<div>
		<h1><%= Topic.find(page.topic_id).name %></h1>

		<% for i in 1..3 %>
		<div class="form-group">
			<% keyword_id = page['k' + i.to_s + '_id'] %>
			<%= select_tag(page.topic_id.to_s + '_' + i.to_s + '_keyword', options_for_select(Topic.find(page.topic_id).keywords.collect {|p| [p.keyword, p.id]}, selected: keyword_id, class: "col-sm-2 control-label")) %>
		</div>
		<% end %>

		<div class='form-group'>
			<input class='new-keyword-name' type='text'>
			<button class='new-keyword-submit' data-topic-id=<%= page.topic_id %>>Add Keyword</button>
		</div>
	</div>

	<% end %>

	<%= submit_tag("Save and Continue", class:"btn btn-primary validate-fields") %>

<% end %>