

<div class="row col-md-offset-1 col-md-6">
  <div class="row">
    <h1>Add a New SEO Template</h1>
    <p>Complete the form to add a new template to the database</p>
  </div>
  <div class="form-group">
   <form action="/bulk" method="post">
    <div class="form-group">
      <label for="bulk[customer]">Customer</label>
      <select class="customer1" name="bulk[customer]">
        <option value="new customer">New Customer</option>
        <%= @customers.each do |customer| %>
          <option class="customer1" value="<%= customer.id %>"><%= customer.name %></option>
          <% end %>
        </select>
    </div>
    <div class="form-group">
      <label for="bulk[customer]">New Customer</label>
      <input type="string" class="form-control" id="customer" placeholder="Customer" name="bulk[customer]"> 
    </div>

    <div class="form-group">
      <label for="bulk[template]">Template</label>
      <select class="template1" name="bulk[template]">
        <option value="new template">New Template</option>
        <%= @templates.each do |template| %>
          <option class="template1" value="<%= template.id %>"><%= template.name %></option>
          <% end %>
        </select>
    </div>
    <div class="form-group">
      <label for="bulk[template]">New Template</label>
      <input type="string" class="form-control" id="template" placeholder="Customer" name="bulk[template]"> 
    </div> 
    <div class="form-group">
      <label for="bulk[industry]">Industry</label>
      <select class="industry1" name="bulk[industry]">
        <option value="new industry">New Industry</option>
        <%= @industries.each do |industry| %>
          <option class="industry1" value="<%= industry.id %>"><%= industry.name %></option>
          <% end %>
        </select>
    </div>
    <div class="form-group">
      <label for="bulk[industry]">Industry</label>
      <input type="string" class="form-control" id="industry" placeholder="Industry" name="bulk[industry]"> 
    </div>
  
      <%= render "bulktopics" %>


      <div class="form-group">
      <label for="bulk[topic]">Topic</label>
      <input type="string" class="form-control" placeholder="Topic" id="topic" name="bulk[topic]">
    </div>
    <div class="form-group">
      <label for="bulk[title]">Page Title</label>
      <input type="string" class="form-control" placeholder="title" name="bulk[title]">
    </div>
    <div class="form-group">
      <label for="bulk[keyword1]">Keyword 1</label>
      <input type="string" class="form-control" placeholder="Keyword 1" name="bulk[keyword1]">
    </div>
     <div class="form-group">
      <label for="bulk[keyword2]">Keyword 2</label>
      <input type="string" class="form-control" placeholder="Keyword 2" name="bulk[keyword2]">
    </div>
     <div class="form-group">
      <label for="bulk[keyword3]">Keyword 3</label>
      <input type="string" class="form-control" placeholder="Keyword 3" name="bulk[keyword3]">
    </div>
    <div class="form-group">
      <label for="bulk[heading1]">Heading 1</label>
      <input type="string" class="form-control" placeholder="Heading 1" name="bulk[heading1]">
    </div>
     <div class="form-group">
      <label for="bulk[heading2]">Heading 2</label>
      <input type="string" class="form-control" placeholder="Heading 2" name="bulk[heading2]">
    </div>
     <div class="form-group">
      <label for="bulk[heading3]">Heading 3</label>
      <input type="string" class="form-control" placeholder="Heading 3" name="bulk[heading3]">
    </div>
    <div class="form-group">
      <label for="bulk[meta]">Meta Description</label>
      <textarea class="form-control" style='resize:none' placeholder="Meta Description" name="bulk[meta]" rows='3'></textarea>
    </div>
    <div class="form-group">
      <label for="bulk[url]">URL</label>
      <input type="string" class="form-control" placeholder="URL" name="bulk[url]">
    </div>
     <div class="form-group">
      <label for="bulk[city]">City</label>
      <select class="city1" name="bulk[city]">
        <option value="new city">New City</option>
        <%= @cities.each do |city| %>
          <option class="city1" value="<%= city.id %>"><%= city.name %></option>
          <% end %>
        </select>
    </div>
    <div class="form-group">
      <label for="bulk[city]">City</label>
      <input type="string" class="form-control" id="city" placeholder="City" name="bulk[city]"> 
    </div>
    <div class="form-group">
      <label for="bulk[state]">State</label>
      <select class="state1" name="bulk[state]">
        <option value="new state">New State</option>
        <%= @states.each do |state| %>
          <option class="state1" value="<%= state.id %>"><%= state.name %></option>
          <% end %>
        </select>
    </div>
    <div class="form-group">
      <label for="bulk[state]">State</label>
      <input type="string" class="form-control" id="state" placeholder="State" name="bulk[state]"> 
    </div>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="submit" class="btn btn-default" value="Create">
    </form>
  </div>
</div>
<div class='col-md-4'>
  stuff
  </div>

  <script>
  $(".customer1").change(function() {
    customer = $("select.customer1 option:selected").text();
    $("#customer").val(customer);
    console.log(customer)
  });
  
  $(".template1").change(function() {
    template = $("select.template1 option:selected").text();
    $("#template").val(template);
    console.log(template)
  });
  $(".city1").change(function() {
    city = $("select.city1 option:selected").text();
    $("#city").val(city);
    console.log(city)
  });
  $(".state1").change(function() {
    state = $("select.state1 option:selected").text();
    $("#state").val(state);
    console.log(state)
  });


  $(".industry1").change(function() {
    industry = $("select.industry1 option:selected").text();
    $("#industry").val(industry);
    console.log(industry)
    url="";
    url += "/bulk_topics/";
    url += industry
    $.get(url);
  });

  //  $(".topic1").change(function() {
  //   topic = $("select.topic1 option:selected").text();
  //   $("#topic").val(topic);
  //   console.log(topic)
  // });
</script>