<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
    <Title>Something</Title>
    <Author>Someone</Author>
    <LastAuthor>Self</LastAuthor>
    <Created>2012-03-15T23:04:04Z</Created>
    <Company>Eaton Corporation</Company>
    <Version>11.8036</Version>
  </DocumentProperties>

  <Worksheet ss:Name="Sheet1">
    <Table>
      <ss:Column ss:Width="120"/>
      <ss:Column ss:Width="120"/>
      <% @pages.each do |page| %>
        <Row>
          <Cell><Data ss:Type="String">Page: <%= Topic.find(page.topic_id).name %></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String">Page Title</Data></Cell>
          <%
            page_title = page.page_title
            page_title.gsub! '(*city*)', page.city_id.present? ? City.find(page.city_id).name : '(*city*)'
            page_title.gsub! '(*state*)', page.state_id.present? ? State.find(page.state_id).abbrev : '(*state*)'
          %>
          <Cell><Data ss:Type="String"><%= page_title %></Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String">Meta Description</Data></Cell>
          <%
            meta = Meta.find(page.meta_id).description
            meta.gsub! '(*city*)', page.city_id.present? ? City.find(page.city_id).name : '(*city*)'
            meta.gsub! '(*state*)', page.state_id.present? ? State.find(page.state_id).abbrev : '(*state*)'
          %>
          <Cell><Data ss:Type="String"><%= meta %></Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String">H1</Data></Cell>
          <%
            heading = Heading.find(page.h1_id).heading
            heading.gsub! '(*City*)', page.city_id.present? ? City.find(page.city_id).name : '(*city*)'
            heading.gsub! '(*State*)', page.state_id.present? ? State.find(page.state_id).abbrev : '(*state*)'
          %>
          <Cell><Data ss:Type="String"><%= heading %></Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String">H2</Data></Cell>
          <%
            heading = Heading.find(page.h2_id).heading
            heading.gsub! '(*City*)', page.city_id.present? ? City.find(page.city_id).name : '(*city*)'
            heading.gsub! '(*State*)', page.state_id.present? ? State.find(page.state_id).abbrev : '(*state*)'
          %>
          <Cell><Data ss:Type="String"><%= heading %></Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String">H3</Data></Cell>
          <%
            heading = Heading.find(page.h3_id).heading
            heading.gsub! '(*City*)', page.city_id.present? ? City.find(page.city_id).name : '(*city*)'
            heading.gsub! '(*State*)', page.state_id.present? ? State.find(page.state_id).abbrev : '(*state*)'
          %>
          <Cell><Data ss:Type="String"><%= heading %></Data></Cell>
        </Row>
        <Row>
          <Cell><Data ss:Type="String">URL</Data></Cell>
          <%
            url = page.url
            url.gsub! '(*city*)', page.city_id.present? ? City.find(page.city_id).name : '(*city*)'
            url.gsub! '(*state*)', page.state_id.present? ? State.find(page.state_id).abbrev : '(*state*)'
          %>
          <Cell><Data ss:Type="String"><%= url.downcase %></Data></Cell>
        </Row>
        <Row>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>