<div class='container'>
	<div class='row'>

		<h1>Overview for <%= @template.name %></h1>

		<h2>Industry: <%= @industry.name %></h2>

		<%= form_tag("/update_overview/", method: "post", class: "form-horizontal form-data") do %>

			<% @pages.each do |page| %>

			<div class='form-group'>
				<label class='col-sm-1 control-label'><a href='/sitemap'>Topic</a></label>
				<div class="col-sm-6">
					<%= text_field_tag(page.id.to_s + '_topic', Topic.find(page.topic_id).name, class: "topic-input form-control") %>
				</div>
			</div>

				<% for i in 1..3 %>

					<div class='form-group'>
						<label class='col-sm-2 control-label'><a href='/show_keywords'>Keyword <%= i %></a></label>
						<div class="col-sm-6">
							<% keyword = page['k' + i.to_s + '_id'] && !Keyword.where(:id => page['k' + i.to_s + '_id']).empty? ? Keyword.find(page['k' + i.to_s + '_id']).keyword : '' %>
							<%= text_field_tag(page.id.to_s + '_' + i.to_s + '_keyword', keyword, class: "subdivision-input form-control") %>
						</div>
					</div>

					<div class='form-group'>
						<label class='col-sm-2 control-label'><a href='/show_headings'>Heading <%= i %></a></label>
						<div class="col-sm-6">
							<% heading = page['h' + i.to_s + '_id'] && !Heading.where(:id => page['h' + i.to_s + '_id']).empty? ? Heading.find(page['h' + i.to_s + '_id']).heading : '' %>
							<%= text_field_tag(page.id.to_s + '_' + i.to_s + '_heading', heading, class: "subdivision-input form-control") %>
						</div>
					</div>

				<% end %>

				<div class='form-group'>
					<label class='col-sm-2 control-label'><a href='/show_metas'>Meta Description</a></label>
					<div class="col-sm-6">
						<% meta = page['meta_id'] && !Meta.where(:id => page['meta_id']).empty? ? Meta.find(page.meta_id).description : '' %>
						<%= text_field_tag(page.id.to_s + '_meta', meta, class: "subdivision-input form-control") %>
					</div>
				</div>

				<div class='form-group'>
					<label class='col-sm-2 control-label'>Page Title</label>
					<div class="col-sm-6">
						<%= text_field_tag(page.id.to_s + '_pagetitle', page['page_title'], class: "subdivision-input form-control") %>
					</div>
				</div>

				<div class='form-group'>
					<label class='col-sm-2 control-label'>Page URL</label>
					<div class="col-sm-6">
						<%= text_field_tag(page.id.to_s + '_url', page['url'], class: "subdivision-input form-control") %>
					</div>
				</div>

				<div class="form-group">
					<%= label_tag 'State',nil, class: "col-sm-2 control-label" %>
					<div class="col-sm-4">
						<%= select_tag(page.id.to_s + '_state_id', options_for_select(State.all.collect {|p| [p.name, p.id]} + ['New State'], selected: page.state_id), class: "form-control state-select-option") %>
					</div>
					<div class='col-sm-4' id='new-state-field' style='display:none'>
						<%= text_field_tag(page.id.to_s + '_new_state', nil, class: "form-control", required: false) %>
					</div>
				</div>

				<div class="form-group">
					<%= label_tag 'City',nil, class: "col-sm-2 control-label" %>
					<div class="col-sm-4">
						<%= select_tag(page.id.to_s + '_city_id', options_for_select(State.find(page.state_id).cities.collect {|p| [p.name, p.id]} + ['New City'], selected: page.city_id), class: "form-control city-select-option") %>
					</div>
					<div class='col-sm-4' id='new-city-field' style='display:none'>
						<%= text_field_tag(page.id.to_s + '_new_city', nil, class: "form-control", required: false) %>
					</div>
				</div>



			<% end %>

			<div id='confirm'>
			</div>

			<%= submit_tag("Save Template", class:"btn btn-primary validate-fields") %>

			<%= link_to "Export as Excel", export_path(format: "xls") %>

		<% end %>

	</div>

</div>

<script>
$(document).ready(function(){

	// Show new customer creation field if appropriate option selected
	$( ".state-select-option" ).change(function() {
	    if ($("option:selected", this).text() == 'New State')
	    {
	    	$(this).parent().siblings('#new-state-field').show();
	    }else{
	    	$(this).parent().siblings('#new-state-field').hide();
	    }
	});
	// Show new industry creation field if appropriate option selected
	$( ".city-select-option" ).change(function() {
	    if ($("option:selected", this).text() == 'New City')
	    {
	    	$(this).parent().siblings('#new-city-field').show();
	    }else{
	    	$(this).parent().siblings('#new-city-field').hide();
	    }
	});
});

// Perform client-side validations to ensure they aren't trying to use dupe keywords per topic
$(document).on('click','.validate-fields',function(){

	var formData = $('.form-data').serializeObject();

	var keyword_ids = {};

	$.each(formData, function(key,value){
		// Check that this is a keyword field and that is not empty - we don't care about duplicating empty keywords
		if (key.indexOf('keyword') != -1 && value != '')
		{
			// First, get the topic id and the keyword count of this keyword
			// Then, let's compare against the other keywords with the same topic id
			var topic_id = '';
			for (var i=0;i<key.length;i++)
			{
				if (key[i] != '_')
				{
					topic_id += key[i];
				}else{
					break;
				}
			}
			$.each(formData, function(key2,value2){
				if (key2.indexOf('keyword') != -1 && key != key2)
				{
					var topic_id_compare = '';
					var keyword_count = '';
					for (var i=0;i<key2.length;i++)
					{
						if (key2[i] != '_')
						{
							topic_id_compare += key2[i];
						}else{
							if (topic_id == topic_id_compare && value == value2)
							{
								keyword_ids[key] = "duplicate value";
							}
							break;
						}
					}
				}
			});
		}
	});

	if (Object.keys(keyword_ids).length > 0)
	{
		// alert('duplicate keyword ids found');
		$('#confirm').fadeOut(200, function(){
			$('#confirm').html('<h3 class="warning">Duplicate keywords detected!</h3><p>Please ensure each topic has three UNIQUE keywords</p>');
			$('#confirm').fadeIn(300);
		});
		return false;
	}
});
</script>